transformer_from_scratch_turtorial/ted_hrlr_translate_pt_en_converter*
transformer_from_scratch_turtorial/BERT_practise.ipynb
transformer_from_scratch_turtorial/BERT_test.ipynb
transformer_from_scratch_turtorial/test.ipynb

test.ipynb

